<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>ID</td>
                <td>Name</td>
            </tr>
        </thead>

        <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.empId}"></td>
                <td th:text="${employee.empName}"></td></td>
            </tr>
        </tbody>
    </table>


</body>
</html>